<div class='container-fluid'>
<div class="d-flex border-bottom py-2">
    <div class="d-flex">
        <div class='project-name d-flex'>
            <span class="mx-0 my-auto logo">
                {{projectName}}
            </span>
        </div>
    </div>
    <div class='d-flex ml-auto nav'>
        <kendo-menu style="margin-left: auto;" [items]="items">
            <ng-template kendoMenuItemLinkTemplate let-item="item" let-index="index">
                <a [kendoMenuItemLink]="index" [routerLink]="'/' + item.text.toLocaleLowerCase()">
                    {{ item.text }}
                </a>
            </ng-template>
        </kendo-menu>
    </div>
</div>
</div>
