@{
    ViewData["Title"] = "Home Page";
}
<style>
    .k-footer-template {
        display: none;
    }

    .k-card-header {
        flex: 0 0 auto;
    }

    .k-card-body {
        overflow: hidden;
    }

    .k-chart, .k-grid {
        height: 100%;
    }
</style>

<!-- container text templates -->
<script id="total-streams-template" type="text/x-kendo-template">
    <h2 id="total-streams"></h2>
</script>
<script id="total-downloads-template" type="text/x-kendo-template">
    <h2 id="total-downloads"></h2>
</script>
<script id="reach-template" type="text/x-kendo-template">
    <h2 id="total-reach"></h2>
</script>
<script id="revenue-template" type="text/x-kendo-template">
    <h2 id="total-revenue"></h2>
</script>

<kendo-datasource name="dateChartDataSource" type="DataSourceTagHelperType.Custom">
    <transport>
        <read url="@Url.Action("Downloads_Read", "Dashboard")" />
    </transport>
</kendo-datasource>

<!-- container chart templates -->
<script id="downloads-chart-template" type="text/html">
    <kendo-chart name="downloads" datasource-id="dateChartDataSource" is-in-client-template="true">
        <chart-legend visible="false"></chart-legend>
        <value-axis>
            <value-axis-item min="2000" max="16000">
                <labels step="4"></labels>
            </value-axis-item>
        </value-axis>
        <category-axis>
            <category-axis-item type="ChartCategoryAxisType.Date" base-unit="ChartAxisBaseUnit.Fit">
                <labels format="{0:d MMM}">
                    <chart-category-axis-labels-rotation angle="300" />
                </labels>
                <major-grid-lines visible="false" />
                <major-ticks visible="false" />
            </category-axis-item>
        </category-axis>
        <series>
            <series-item category-field="Date" field="Downloads" type="ChartSeriesType.Line">
            </series-item>
        </series>
    </kendo-chart>
</script>
@*to configure the chart theme to match the application theme use the theme setting
    https://docs.telerik.com/kendo-ui/api/javascript/dataviz/ui/chart/configuration/theme*@
<script id="performance-chart-template" type="text/html">
    <kendo-chart name="performance" datasource-id="dateChartDataSource" is-in-client-template="true" auto-bind="false">
        <chart-legend visible="false"></chart-legend>
        <value-axis>
            <value-axis-item min="4000" max="30000">
                <labels step="3"></labels>
            </value-axis-item>
        </value-axis>
        <category-axis>
            <category-axis-item type="ChartCategoryAxisType.Date" base-unit="ChartAxisBaseUnit.Fit">
                <labels format="{0:d MMM}">
                    <chart-category-axis-labels-rotation angle="300" />
                </labels>
                <major-grid-lines visible="false" />
                <major-ticks visible="false" />
            </category-axis-item>
        </category-axis>
        <series>
            <series-item category-field="Date" field="Views" type="ChartSeriesType.Column">
            </series-item>
        </series>
    </kendo-chart>
</script>
<script id="apps-chart-template" type="text/html">
    <kendo-chart name="devices" is-in-client-template="true">
        <series>
            <series-item type="ChartSeriesType.Donut" auto-fit="true" category-field="Device" field="Views">
                <labels visible="true"
                        template="\\#=category\\#"
                        background="transparent"
                        position="ChartSeriesLabelsPosition.OutsideEnd">
                </labels>
            </series-item>
        </series>
        <chart-legend visible="false"></chart-legend>
        <datasource>
            <transport>
                <read url="@Url.Action("Devices_Read", "Dashboard")" />
            </transport>
        </datasource>
    </kendo-chart>
</script>
<script id="platforms-chart-template" type="text/html">
    <kendo-chart name="platforms" is-in-client-template="true">
        <series>
            <series-item type="ChartSeriesType.Donut" auto-fit="true" category-field="PlatformName" field="Views">
                <labels visible="true"
                        template="\\#=category\\#"
                        background="transparent"
                        position="ChartSeriesLabelsPosition.OutsideEnd">
                </labels>
            </series-item>
        </series>
        <chart-legend visible="false"></chart-legend>
        <datasource>
            <transport>
                <read url="@Url.Action("Platforms_Read", "Dashboard")" />
            </transport>
        </datasource>
    </kendo-chart>
</script>

<!-- container grid template -->
<script id="grid-template" type="text/html">
    <kendo-grid name="grid" on-data-bound="populateTotals" is-in-client-template="true">
        <sortable enabled="true" />
        <columns>
            <column field="Name" width="320" title="Podcast Episode"></column>
            <column field="Streams" width="150"></column>
            <column field="Downloads" width="250"></column>
        </columns>
        <datasource type="DataSourceTagHelperType.Ajax" page-size="5">
            <transport>
                <read url="@Url.Action("Podcasts_Read", "Dashboard")" />
            </transport>
            <sorts>
                <sort field="Streams" direction="desc" />
            </sorts>
            <aggregates>
                <aggregate field="Downloads" aggregate="sum" />
                <aggregate field="Streams" aggregate="sum" />
                <aggregate field="Reach" aggregate="sum" />
                <aggregate field="Views" aggregate="sum" />
            </aggregates>
        </datasource>
    </kendo-grid>
</script>

<div class="d-flex justify-content-center">
    <kendo-tilelayout name="tilelayout" columns="4" resizable="true" reorderable="true" columns-width="350px" rows-height="145px" on-resize="onTileResize">
        <containers>
            <container body-template-id="total-streams-template" col-span="1" row-span="1">
                <container-header text="Total Streams" />
            </container>
            <container body-template-id="total-downloads-template" col-span="1" row-span="1">
                <container-header text="Total Downloads" />
            </container>
            <container body-template-id="reach-template" col-span="1" row-span="1">
                <container-header text="Reach" />
            </container>
            <container body-template-id="revenue-template" col-span="1" row-span="1">
                <container-header text="Revenue" />
            </container>
            <container body-template-id="downloads-chart-template" col-span="2" row-span="3">
                <container-header text="Weekly Recap-Downloads" />
            </container>
            <container body-template-id="performance-chart-template" col-span="2" row-span="3">
                <container-header text="Performance Trend" />
            </container>
            <container body-template-id="grid-template" col-span="4" row-span="2">
                <container-header text="Top 5 Episodes" />
            </container>
            <container body-template-id="apps-chart-template" col-span="2" row-span="2">
                <container-header text="Listening platforms-Apps" />
            </container>
            <container body-template-id="platforms-chart-template" col-span="2" row-span="2">
                <container-header text="Listening platforms-Devices" />
            </container>
        </containers>
    </kendo-tilelayout>
    <script>
        function onTileResize(e) {
            // for widgets that do not auto resize
            // https://docs.telerik.com/kendo-ui/styles-and-layout/using-kendo-in-responsive-web-pages
            kendo.resize(e.container, true);
        }

        function populateTotals(e) {
            // we are using the aggregates of the grid to populate our totals
            var aggregates = e.sender.dataSource.aggregates();

            $("#total-streams").html(kendo.toString(aggregates.Streams.sum, "n0"));
            $("#total-downloads").html(kendo.toString(aggregates.Downloads.sum, "n0"));
            $("#total-reach").html(kendo.toString(aggregates.Reach.sum, "n0"));
            $("#total-revenue").html(kendo.toString(aggregates.Views.sum / 100, "c0"));
        }
    </script>
</div>
