<style type="text/css">
    #reportViewer1 {
        position: absolute;
        left: 5px;
        right: 5px;
        top: 50px;
        bottom: 5px;
        overflow: hidden;
        font-family: Verdana, Arial;
    }
</style>

<div id="reportViewer1">
    loading report viewer...
</div>

<!-- 
  Problem: ReportViewer uses Kendo jQuery. However, it causes a Kendo jQuery license violation even though Reporting and UI for ASP.NET Core license was detected.
  Workaround: Add a hidden UI for ASP.NET Core component anywhere in the same view.
-->
<kendo-button name="license-workaround"></kendo-button>

<script>
    $(document).ready(function () {
        $("#reportViewer1").telerik_ReportViewer({
            serviceUrl: "/api/reports/",
            reportSource: {
                report: "Barcodes Report.trdp"
            },
            viewMode: telerikReportViewer.ViewModes.INTERACTIVE,
            scaleMode: telerikReportViewer.ScaleModes.SPECIFIC,
            scale: 1.0,
            enableAccessibility: false,
            sendEmail: { enabled: false }
        });
    });
</script>