<div class="container mt-5">
    <div class='row'>
        <div class='col-12'>
            <h1 class='welcome mb-0'>Welcome to Kendo UI for Angular</h1>
            <h2 class='sub-header mt-0'>Focus on the core of your application and spend less time sweating over the
                UI</h2>
        </div>
    </div>
    <div class='row'>
        <div class='col-12'>
            <h1 class='get-started'>Get Started</h1>
        </div>
    </div>
    <div class='row justify-content-center'>
        <div class='col-4 text-right'>
            <div>
                <img class="kendoka" alt="Kendo UI for Angular Logo" src="../assets/img/kendoka.png">
            </div>
        </div>
        <div class='col-4 components-list'>
            <p>
                <img src='../assets/img/components.png' alt='components' />
                <a href='https://www.telerik.com/kendo-angular-ui/components/'>Components</a>
            </p>
            <p>
                <img src='../assets/img/styles.png' alt='styles' />
                <a href='https://www.telerik.com/kendo-angular-ui/components/styling/theme-default/'>Default theme
                    overview</a>
            </p>
            <p>
                <img src='../assets/img/blogs.png' alt='blogs' />
                <a href='https://www.telerik.com/blogs/tag/kendo-ui-for-angular/'>Blog Posts</a>
            </p>
        </div>
    </div>
</div>