<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyAspNetCoreApp</title>

    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    
    <!-- Kendo CSS resources -->
    <link href="https://cdn.kendostatic.com/themes/8.2.1/default/default-ocean-blue.css" rel="stylesheet" type="text/css" />
    
    <!-- Kendo JavaScript resources -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    @* <script src="https://cdn.kendostatic.com/2024.3.1015/js/jszip.min.js"></script> not needed *@
    <script src="https://cdn.kendostatic.com/2024.3.1015/js/kendo.all.min.js"></script>
    <script src="https://cdn.kendostatic.com/2024.3.1015/js/kendo.aspnetmvc.min.js"></script>
    
    <script src="/js/kendo-ui-license.js"></script>
    
    <!-- Reporting resources -->
    <script src="/api/reports/resources/js/telerikReportViewer"></script>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="ReportViewer">Report Viewer</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
    </header>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020-2025 Lance McCarthy, Progress Software - MyAspNetCoreApp
        </div>
    </footer>

    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
