<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Telerik.Windows.Controls.for.Wpf" version="2022.3.912" targetFramework="net472" />
  <package id="Telerik.Windows.Controls.GridView.for.Wpf" version="2022.3.912" targetFramework="net472" />
  <package id="Telerik.Windows.Controls.Input.for.Wpf" version="2022.3.912" targetFramework="net472" />
  <package id="Telerik.Windows.Data.for.Wpf" version="2022.3.912" targetFramework="net472" />
  <package id="Telerik.Windows.Themes.VisualStudio2019.for.Wpf" version="2022.3.912" targetFramework="net472" />
</packages>