<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="fb6d6f71-6b09-4d3c-b921-69eaa3fd1536" Publisher="CN=Telerik AD" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="fb6d6f71-6b09-4d3c-b921-69eaa3fd1536" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>SalesDashboard.UWP</DisplayName>
    <PublisherDisplayName>Telerik AD</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="SalesDashboard.UWP.App">
      <uap:VisualElements DisplayName="Telerik Sales Dashboard" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="Telerik Sales Dashboard" BackgroundColor="#2DB245">
        <uap:LockScreen Notification="badge" BadgeLogo="Assets\SmallLogo.png" />
        <uap:DefaultTile ShortName="Telerik Dashboard" Square71x71Logo="Assets\Square71x71Logo.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#2DB245" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>