<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Telerik.Licensing" version="1.4.6" targetFramework="net48" />
  <package id="Telerik.UI.for.AspNet.Ajax.Net45" version="2024.1.131" targetFramework="net48" />
  <package id="Telerik.Windows.Documents.Core" version="2024.4.1106" targetFramework="net48" />
  <package id="Telerik.Windows.Documents.Flow" version="2024.4.1106" targetFramework="net48" />
  <package id="Telerik.Windows.Documents.Spreadsheet" version="2024.4.1106" targetFramework="net48" />
  <package id="Telerik.Windows.Documents.Spreadsheet.FormatProviders.OpenXml" version="2024.4.1106" targetFramework="net48" />
  <package id="Telerik.Windows.Zip" version="2024.4.1106" targetFramework="net48" />
</packages>