<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <packageManagement>
    <add key="format" value="0" />
    <add key="disabled" value="False" />
  </packageManagement>

  <packageSources>
    <clear/>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <!-- IMPORTANT - This package source has its credentials set in the dockerfile using docker secrets -->
    <add key="Telerik_Feed" value="https://nuget.telerik.com/v3/index.json" protocolVersion="3"/>
  </packageSources>

  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="Telerik_Feed">
      <package pattern="Telerik.*" />
      <package pattern="Kendo.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
