<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Telerik UI for ASP.NET Core 2022.2.621(AdditionalPackages)" value="C:\Program Files (x86)\Progress\Telerik UI for ASP.NET Core R2 2022\" />
    <add key="Telerik UI for ASP.NET Core 2022.2.621(MainPackage)" value="C:\Program Files (x86)\Progress\Telerik UI for ASP.NET Core R2 2022\wrappers\aspnetcore\Binaries\AspNet.Core" />
  </packageSources>
</configuration>