<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Clears sources (i.e. cleans up other VS package sources and prevents duplicates) -->
    <clear/>
    <!-- NuGet.org feed -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />

	  <!-- Telerik NuGet v3 server -->
	  <add key="Telerik" value="https://nuget.telerik.com/v3/index.json"  protocolVersion="3"/>
  </packageSources>
  <packageSourceCredentials>
    <Telerik>
      <add key="Username" value="%TELERIK_USERNAME%" />
      <add key="ClearTextPassword" value="%TELERIK_PASSWORD%" />
    </Telerik>
  </packageSourceCredentials>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <packageManagement>
    <add key="format" value="0" />
    <add key="disabled" value="False" />
  </packageManagement>
</configuration>
