<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <packageManagement>
    <add key="format" value="0" />
    <add key="disabled" value="False" />
  </packageManagement>

  <!-- Package sources docs https://docs.microsoft.com/en-us/nuget/reference/nuget-config-file#packagesources -->
  <packageSources>
    <clear/>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Telerik_v3_Feed" value="https://nuget.telerik.com/v3/index.json" protocolVersion="3"/>
  </packageSources>

  <!-- See https://docs.microsoft.com/en-us/nuget/consume-packages/consuming-packages-authenticated-feeds -->
  <!-- See https://docs.microsoft.com/en-us/nuget/reference/nuget-config-file#packagesourcecredentials -->
  <packageSourceCredentials>
    <Telerik_v3_Feed>
      <add key="Username" value="%TELERIK_USERNAME%" />
      <add key="ClearTextPassword" value="%TELERIK_PASSWORD%" />
    </Telerik_v3_Feed>
  </packageSourceCredentials>

  <!-- Only audit packages from nuget.org, Microsoft doesn't yet support private feeds -->
  <auditSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </auditSources>
</configuration>
