<div class="container-fluid">
    <div class='d-flex'>
        <div>
            <div class='mb-2 links'>
                Terms of Use | Privacy Policy | Trademarks | License Agreements
            </div>
            <div class='copyright'>
                Copyright © 2023 Software Corporation and/or its subsidiaries or affiliates. All Rights Reserved.
            </div>
        </div>
        <div class='d-flex ml-auto'>
            <div class="social">
                <a href="https://www.facebook.com/KendoUI/"><img src="../assets/img/facebook.png" alt="facebook" /></a>
                <a href="https://twitter.com/kendoui"><img src="../assets/img/twitter.png" alt="twitter" /></a>
                <a href="https://www.youtube.com/results?search_query=kendoangular"><img src="../assets/img/youtube.png"
                        alt="youtube" /></a>
                <a href="https://www.linkedin.com/showcase/telerik/"><img src="../assets/img/linkedin.png" alt="linkedin" /></a>
            </div>
        </div>
    </div>
</div>
