<div class="container-fluid">
    <div class="row my-4">
        <div class="col-12 col-lg-9 border-right">
            <div class="form-wrapper">
                <form class="k-form" [formGroup]="form">
                    <fieldset class="k-form-fieldset">
                    <legend class="k-form-legend">User Details</legend>

                    <kendo-formfield>
                        <kendo-label [for]="firstName" text="First Name"></kendo-label>
                        <kendo-textbox
                            formControlName="firstName"
                            [clearButton]="true"
                            #firstName
                            required>
                        </kendo-textbox>
                        <kendo-formerror>Error: First name is required</kendo-formerror>
                    </kendo-formfield>

                    <kendo-formfield>
                        <kendo-label [for]="lastName" text="Last Name"></kendo-label>
                        <kendo-textbox
                            formControlName="lastName"
                            [clearButton]="true"
                            #lastName
                            required>
                        </kendo-textbox>
                        <kendo-formerror>Error: Last name is required</kendo-formerror>
                    </kendo-formfield>

                    <kendo-formfield orientation="horizontal">
                        <label class="k-label">Gender</label>
                        <ul class="k-radio-list k-list-horizontal">
                            <li class="k-radio-item">
                                <input
                                    type="radio"
                                    #male
                                    value="male"
                                    kendoRadioButton
                                    formControlName="gender"
                                />
                                <kendo-label
                                    class="k-radio-label"
                                    [for]="male"
                                    text="Male">
                                </kendo-label>
                            </li>

                            <li class="k-radio-item">
                                <input
                                    type="radio"
                                    #female
                                    value="female"
                                    kendoRadioButton
                                    formControlName="gender"
                                />
                                <kendo-label
                                    class="k-radio-label"
                                    [for]="female"
                                    text="Female">
                                </kendo-label>
                            </li>

                            <li class="k-radio-item">
                                <input
                                    type="radio"
                                    #other
                                    value="other"
                                    kendoRadioButton
                                    formControlName="gender"
                                />
                                <kendo-label
                                    class="k-radio-label"
                                    [for]="other"
                                    text="Other">
                                </kendo-label>
                            </li>
                        </ul>
                    </kendo-formfield>

                    <kendo-formfield>
                        <kendo-label [for]="email" text="Email"></kendo-label>
                        <kendo-textbox
                            formControlName="email"
                            [clearButton]="true"
                            #email
                            required>
                        </kendo-textbox>
                        <kendo-formerror *ngIf="form.controls['email'].errors?.['required']">
                            Error: Email is required
                        </kendo-formerror>
                        <kendo-formerror *ngIf="form.controls['email'].errors?.['email']">
                            Error: Not valid email format
                        </kendo-formerror>
                    </kendo-formfield>

                    <kendo-formfield [style.marginBottom.px]="20">
                        <kendo-label [for]="company" text="Company" [optional]="true"></kendo-label>
                        <kendo-textbox
                            formControlName="company"
                            [clearButton]="true"
                            #company>
                        </kendo-textbox>
                    </kendo-formfield>

                    <legend class="k-form-legend">Credentials</legend>

                    <kendo-formfield>
                        <kendo-label [for]="username" text="Username"> </kendo-label>
                        <kendo-textbox
                            formControlName="username"
                            #username
                            required
                            [clearButton]="true">
                        </kendo-textbox>
                        <kendo-formerror>Error: Username is required</kendo-formerror>
                    </kendo-formfield>

                    <kendo-formfield>
                        <kendo-label [for]="password" text="Password"> </kendo-label>
                        <kendo-textbox
                            formControlName="password"
                            #password
                            required>
                            <ng-template kendoTextBoxSuffixTemplate>
                                <button
                                    kendoButton
                                    look="clear"
                                    [svgIcon]="eye"
                                    (click)="toggleVisibility()">
                                </button>
                            </ng-template>
                        </kendo-textbox>
                        <kendo-formerror>Error: Password is required</kendo-formerror>
                    </kendo-formfield>

                    <div class="k-form-buttons">
                        <button kendoButton themeColor="primary" (click)="submit()">
                            Submit
                        </button>
                        <button kendoButton (click)="clearForm()">Cancel</button>
                    </div>
                    </fieldset>
                </form>
            </div>
        </div>

        <div class='col-12 col-lg-3 mt-3 mt-lg-0'>
            <h3>Kendo UI for Angular Form</h3>
            <p>Kendo UI for Angular provides comprehensive support for building forms. For more information, refer to our <a href="https://www.telerik.com/kendo-angular-ui/components/forms/">Forms Overview article.</a></p>

            <p>For the full list of components, which support Reactive and Template-Driven Forms, refer to the article on <a href="https://www.telerik.com/kendo-angular-ui/components/forms/forms-support/">support by Kendo for Angular</a>.</p>
        </div>
    </div>
</div>