name: Build Web Application

on:
  push:
    branches: [ main ]

jobs:
  # A job that builds a .NET Core 3.1 web application using Telerik UI for Blazor. 
  # It uses an Ubuntu runner and builds for linux-64 target.
  build_web:
    runs-on: ubuntu-latest
    
    env:
      RID: linux-x64 # https://docs.microsoft.com/en-us/dotnet/core/rid-catalog
      Configuration: Release
      SolutionPath: src\Web\Web.sln
      NuGetConfigPath: src\Web\NuGet.Config
      TELERIK_USERNAME: ${{ secrets.MyTelerikAccountUsername }}
      TELERIK_PASSWORD: ${{ secrets.MyTelerikAccountPassword }}
    
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v1.6.0
        with:
          dotnet-version: 3.1.302

      - name: Restore NuGet Packages
        run: dotnet restore $env:SolutionPath --configfile $env:NuGetConfigPath --runtime $env:RID

      - name: Build Solution
        run: dotnet build $env:SolutionPath --configuration $env:Configuration --configfile $env:NuGetConfigPath --runtime $env:RID
