name: WinUI3

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - "winui/*"
    paths:
      - 'src/WinUI/**/*'
      - '.github/workflows/main_build-winui.yml' 

env:
  TELERIK_USERNAME: "api-key" # Used by the nuget.config file
  TELERIK_PASSWORD: ${{secrets.TELERIK_NUGET_KEY}} # Used by the nuget.config file
  SOLUTION_NAME: "src/WinUI/MyDemo.sln"
  NUGETCONFIG_PATH: "src/NuGet.Config"

jobs:
  build-windows:
    runs-on: windows-2022
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '10.0.x'

    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v2

    - name: Restore NuGet packages
      shell: pwsh
      run: dotnet restore ${{env.SOLUTION_NAME}} --configfile ${{env.NUGETCONFIG_PATH}}

    # Restore the application to populate the obj folder with RuntimeIdentifiers
    - name: Restore RIDs
      run: msbuild ${{env.SOLUTION_NAME}} /t:Restore /p:Configuration=Release

    - name: Build and Create MSIX
      run: |
        msbuild ${{env.SOLUTION_NAME}} `
          /p:Configuration=Release `
          /p:Platform=x64 `
          /p:AppxBundlePlatforms="x64|arm64" `
          /p:UapAppxPackageBuildMode=CI `
          /p:AppxBundle=Never `
          /p:AppxPackageDir="${{github.workspace}}/AppPackages" `
          /p:GenerateAppxPackageOnBuild=true `
          /p:AppxPackageSigningEnabled=false `
          /p:SelfContained=true 
      env:
        TELERIK_LICENSE: ${{secrets.TELERIK_LICENSE_KEY}}
