name: ASP.NET Core (with Reporting)

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - "aspnetcore/*"
    paths:
      - 'src/AspNetCore/**/*'
      - '.github/workflows/main_build-aspnetcore.yml' 

permissions:
  contents: read
  packages: write # to publish to GitHub container registry
  id-token: write # JWT for Akeyless and Azure auth

env:
  DOTNET_VERSION: "10.0.x"
  CONFIGURATION: Release
  PROJECT_PATH: src/AspNetCore/MyAspNetCoreApp/MyAspNetCoreApp.csproj
  NUGETCONFIG_PATH: src/NuGet.Config
  AZURE_WEBAPP_NAME: TelerikAspnetCoreWithReporting
  WORKING_DIRECTORY: "src/AspNetCore/MyAspNetCoreApp"

jobs:
  build_windows:
    runs-on: windows-2022
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    # Using AKeyless for secrets in this demo, but you can use github Secrets instead
    - name: Fetch secrets from AKeyless
      id: akeyless
      uses: LanceMcCarthy/akeyless-action@v3
      with:
        access-id: 'p-4blpeo5zdfeaom'
        static-secrets: |
          {
            "/progress/TELERIK_NUGET_KEY":"TELERIK_NUGET_KEY",
            "/progress/TELERIK_LICENSE":"TELERIK_LICENSE_KEY"
          }
        export-secrets-to-outputs: true
        export-secrets-to-environment: false

    - name: Setup .NET Core SDK
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: ${{env.DOTNET_VERSION}}

    - name: Restore NuGet Packages
      run: dotnet restore ${{env.PROJECT_PATH}} --configfile ${{env.NUGETCONFIG_PATH}}
      env:
        TELERIK_USERNAME: "api-key"
        TELERIK_PASSWORD: ${{steps.akeyless.outputs.TELERIK_NUGET_KEY}}

    - name: Build ASP.NET Core Project
      run: dotnet publish ${{env.PROJECT_PATH}} -o ${{env.WORKING_DIRECTORY}}\published --no-restore
      env:
        TELERIK_LICENSE: ${{steps.akeyless.outputs.TELERIK_LICENSE_KEY}}

    - name: Azure Login
      uses: azure/login@v2
      with:
        client-id: ${{secrets.AZUREAPPSERVICE_CLIENTID_CFFB4C5B17014959ADED97E71860CC5D}}
        tenant-id: ${{secrets.AZUREAPPSERVICE_TENANTID_E6D2D4DA9EDC4282BA7AA37EDAACE5AA}}
        subscription-id: ${{secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_3F1C5E79A80C4DAC80D1C59FF7B29E91}}

    - name: Deploy to Azure WebApp
      uses: azure/webapps-deploy@v3
      with:
        app-name: 'TelerikAspnetCoreWithReporting'
        package: ${{env.WORKING_DIRECTORY}}\published
